* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  //height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border-bottom: 1px solid #eaeaea;
  .headerLeft {
    display: flex;
    align-items: center;
    h3 {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      color: #9D9D9D;

    }
  }
  img {
    margin-right: 15px;
  }
  .headerRight {
    display: flex;
    align-items: center;
    .listItem1 {
      margin-right: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        margin-right: 10px;
      }
    }
  }
}
.content {
  padding: 0 60px;
  .content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    //margin-left: 60px;
  }
  .search-block {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    input {
      padding: 13px;
      font-size: 16px;
      //width: 200px;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #C4C4C4;
      }
    }
  }
  .sneakers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
  }

}
.overlay  {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  top: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
  .items {
    flex: 1;
    overflow: auto;
  }
  .cartItem {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

    .sneakerImg {
      margin-right: 21px;
      transform: translateY(-7px);
    }
    .descrBlock {
      margin-right: 12px;
      p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
      }
      .price {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  .cardTotalBlock {
    ul {
      margin-bottom: 25px;
      .list-item {
        display: flex;
        margin-bottom: 20px;
        span {
          font-size: 16px;
          line-height: 19px;
        }
        .total-dashed {
          flex: 1;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
        }
        .total-price {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;

        }
      }
    }
   .greenButton {
     position: relative;
     img {
       position: absolute;
       right: 33px;
       top: 50%;
       transform: translate(0, -50%);
       transition: .2s;
     }
     &:hover {
        img {
          transform: translate(6px, -50%);
        }
     }
   }
  }
}
.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background: lighten(#9DD558, 5%);
  }
  &:active {
    background: darken(#9DD558, 5%);
  }
}